.background {
  width: 320px;
  height: 389px;
  background-color: #3b515a;
  background-image: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/text-sedona-index.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 363px, 21px 90px, -224px 0;
  background-size: auto, 87%, cover;
}
